@media screen and (max-width: 480px) {
  /* less 480px */
}

@media screen and (min-width: 781px) {
  /* over 781px */
  footer {
    left: 0;
    right: 0;
    margin: auto;
    background-color: #3a363b;

    div.footer-top {
      text-align: center;

      div {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 30px;

        p:nth-of-type(1) {
          width: 15vw;
          margin: 10px 10px 15px 10px;
          padding: 0 0 13px 0;
          border-bottom: 2px solid;
          font-weight: 900;
          font-size: 17px;
          border-image: linear-gradient(
            to right,
            #a61313 0%,
            #d10d0d 50%,
            #a61313 100%
          );
          border-image-slice: 1;
        }

        p:nth-of-type(n + 2) {
          display: table;
          margin: 5px 10px;
          padding-bottom: 1px;
        }

        p:nth-of-type(n + 2):hover {
          border-bottom: 1px solid #fff;
          padding-bottom: 0px;
        }
      }
    }

    div.footer-middle {
      text-align: center;

      div {
        display: inline-block;
        width: 2vw;
        min-width: 25px;
        padding: 0.3vw;
        margin: 0.3vw;

        svg {
          fill: #fff;
        }
      }
    }

    div.footer-bottom {
      padding: 3vw;
      text-align: center;
      vertical-align: middle;

      p {
        display: inline-block;
        padding: 0 0.5vw;
      }
    }
  }
}
