@font-face {
    font-family: Meiryo;
    src: url(/fonts/Meiryo.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu-B.ttf);
}


* {
    margin: 0;
    padding: 0;
    font-family: Meiryo, Arial, sans-serif;
}

body {
    background-color: #161513;
    color: #f8fafb;
}