@media screen and (max-width:480px) {
    /* less 480px */
}

@media screen and (min-width:781px) {

    /* over 781px */

    main {
        padding: 0 5vw;
        background: linear-gradient(-45deg, black, #140a1f, #0c0c27) fixed;
        background-size: 800% 800%;
        animation: GradietionAnimation 9s ease infinite;

        @keyframes GradietionAnimation {
            0% {
                background-position: 0% 0%
            }

            50% {
                background-position: 50% 50%
            }

            100% {
                background-position: 0% 0%
            }
        }
    }
}